body {
    background-color: #bada55;
}

header {
    align-items: flex-start;
}

section {
    width: 20px;
}

.main_content {
    display:flex;
}

img {
    width: 2000%;
}

#friend-list {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}